body {
    background-color:black;
    font-family:arial;
  }
h1{
  color:gray;
  text-align: center;
  font-family: Verdana;
}
.container {
    border-radius: 25px;
    background-color: white;
    width: 500px;
    border: 20px;
    border-radius: 25px;
    padding: 50px;
    margin:auto;
      
  }
  input[type=number] {
    width: 100%;
    padding: 6px;
    border: 1px solid black;
    border-radius: 4px;
    resize: vertical;
  }
  
.col-25 {
    float: left;
    width: 50%;
    margin-top: 16px;
    
  }
  
.col-75 {
    float: left;
    width: 50%;
    margin-top: 10px;
    
  }
input[type=range]{
    
    width:100%;
    margin-top: 10px;
    resize: vertical;
}
/*.slider{
  width:100%;
  padding: 6px;
}*/
select{
  width: 100%;
  padding: 6px;
  border: 1px solid black;
  border-radius: 4px;
  resize: vertical;

}

.button{
  width:100%;
  margin-top: 15px;
  padding:8px;
  font-weight:bold;
  background-color: lightblue;
  border-radius: 4px;
  cursor: pointer;
  opacity:0.7;
  transition: 0.3s;
}
.button:hover{
  opacity: 1;
}
.highlight{
  background-color: yellow;
}


